@media only screen and (max-width: 1169px) {
    nav {
        width: 50%;
        margin: 31px 0 0 50px;
    }

}

@media only screen and (max-width: 692px) {
    nav {
        width: 55%;
        margin: 31px 0 0 50px;
    }
}

@media only screen and (max-width: 500px) {
    nav ul {
        display: none;
        list-style: none;
        float: left;
        margin: 30px 0 0 6em;
    }
    
    nav ul li {
        display: block;
        margin: 0 0 10px 0;
        font-size: 1em;
    }
    
    .icon-menu:link,
    .icon-menu:visited {
        display: block;
        padding: 20px 0 0 0;
        font-size: 40px;
        width: 20%;
    }

    .top-mainbx {
        background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, .349)) ,url(../img/road-sign.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 150vh;
    }

    .text-bx {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 700px;
        padding: 0 40px; */
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 320px) {
    footer {
        display: flex;
        align-items: center;
        height: 130px;
        background-color: #e17055;
    }
}