*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: normal 100% 'Cairo', sans-serif, serif;
    background-color: transparent;
    color: #fefefe;
    text-rendering: optimizeLegibility;
}



section { margin: 50px 0;  }


/* LOGO */
.logo-pic {
    width: 100%;
    display: block;
    background-color: transparent;
}

.logo:link, 
.logo:visited {
    width: 10%;
    color: #fefefe;
    font-size: 3.125em;
    margin: 20px;
    display: block;
    float: right;
}





main { 
    width: 100%;
    background-image: linear-gradient(rgba(34, 34, 34, .95), rgba(34, 34, 34, .95)), url(../img/backpanels.jpg);
    background-position: center;
    background-attachment: fixed; 
}

.container { width: 100%; }

.big-bx {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/womendriving.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav ul {
    list-style: none;
    float: left;
    margin: 4em 0 0 6em;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 1em;
}

nav ul li a:link,
nav ul li a:visited {
    color: #fefefe;
    text-decoration: none;
    transition: all .2s;
}

nav ul li a:hover,
nav ul li a:active {
    color:  #e17055;
    text-decoration: none;
}

.icon-menu:link,
.icon-menu:visited {
    display: none;
    margin: 40px;
    font-size: 40px;
    cursor: pointer;
    color: #fefefe;
}

.big-head {
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 4em;
    font-weight: 300;
}

.big-head span { color: #e17055; }

.permispic { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)) ,url(../img/permis.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, 150px);
 }

 .head-lid {
     text-align: center;
     transform: translate(-50%, -50%);
     position: absolute;
     top: 50%;
     left: 50%;
 }

img {
    width: 100%;
    display: block;
}

.quibox { padding: 12em 0 0 0; }

.head1bx { margin: 0 0 0 18em; }

h1 {
    font-size: 2em;
    font-weight: 300;
}

.quibox p { 
    width: 80%;
    margin: 40px 25px 120px 20px;
    font-size: .8125em;
    float: right;
}

.featsbx {
    width: 50%;
    float: right;
    margin: 0 100px 0 0;
}

[class*='t-feat-'] { margin-bottom: 20px; }

/*
.feat-1 { transform: translateX(190px); }
.feat-2 { transform: translateX(220px); }
.feat-3 { transform: translateX(150px); }
.feat-4 { transform: translateX(187px); }
*/

.icon-expert,
.icon-cash,
.icon-health,
.icon-clients { 
    font-size: 30px;
    float: right;
}

.icon-expert { color: #1C8CAC; }
.icon-cash { color: #93CCCC; }
.icon-health { color: #FCCC64; }
.icon-clients { color: #ACBFCF; }

.adress-bx,
.price-bx { text-align: center; }

.icon-card,
.icon-locate {
    font-size: 50px;
    color: #e17055;
}

.icon-facebook {
    font-size: 25px;
    vertical-align: middle;
    transition: .2s;
}

.icon-facebook:hover { color: #4267B2; }

.icon-call {
    vertical-align: middle;
    font-size: 25px;
    color: #e17055;
}






h2 {
    font-size: 2em;
    font-weight: 300;
}

h2::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #e17055;
    margin: 0 auto;
    max-width: 30px;
}

.p-adress,
.p-price { margin: 20px 0 0 0; }

.p-price span { 
    text-decoration: line-through;
    margin-right: 20px;
}

.road-back,
.student-back { height: 30vh; }

.road-back {
    background-image: linear-gradient(rgba(34, 34, 34, .5), rgba(34, 34, 34, .5)) ,url(../img/traffic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.student-back {
    background-image: linear-gradient(rgba(34, 34, 34, .5), rgba(34, 34, 34, .5)) , url(../img/student.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.benefits-bx p { 
    text-align: center;
    line-height: 30vh;
    font-size: 30px;
}

.time-headbx,
.contact-headbx { text-align: center; }

.schedule-bx { margin: 35px 0 0 50px; }

.contactbx p {
    text-align: center;
    margin: 30px 0 0 0;
}

footer {
    display: flex;
    align-items: center;
    height: 100px;
}

.fb-bx {
    float: left;
    width: 33.33%;
}

.fb-bx a:link,
.fb-bx a:visited { 
    color: #fefefe;
    margin: 0 0 0 10px;
}

.call-bx {
    width: 33.33%;
    text-align: center;
    list-style: none;
}

.call-bx li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.lang-list {
    text-align: right;
    width: 33.33%;
    list-style: none;
}

.lang-list li {
    display: inline-block;
    margin: 0 10px 0 0;
} 

.lang-list li a:link,
.lang-list li a:visited {
    color: #fefefe;
    text-decoration: none;
    transition: .2s;
}

.friday-bx { padding: 0 0 0 190px ; }
.saturday-bx { padding: 0 0 0 198px ; }

.sponsored {
    width: 100%;
    height: 400px;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand-1,
.brand-2 {
   width: 20%;
   height: 100%;
}